<!DOCTYPE html>
<html>
<body>
<form action="/shop/added_to_cart/" method="POST">
    <center>
        {% csrf_token %}
        <p>Dodano produkty do koszyka! Poniżej wyświetlam aktualną zawartość:</p>
        <table border='1' id="table">
            <td><p>Produkt:</p></td>
            {% for x in name %}
                <tr>
                    <td>{{ x.name }}</td>
                </tr>
            {% endfor %}
            <td><p>Cena:</p></td>
            {% for x in name %}
                <tr>
                    <td>{{ x.price }}</td>
                </tr>
            {% endfor %}
            <td><p>Kupiona ilość:</p></td>
            {% for x in products %}
                <tr>
                    <td>{{ x }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Powrót">
    </center>
</form>
</body>
</html>  