<!DOCTYPE html>
<html>
<body>
  <center>
    <hr/>
    <p>Wybierz co chcesz kupić:</p>
    <form action="/shop/shop/" method="POST">
      {% csrf_token %}
      <table border='1'>
        <td><p>Produkt:</p></td>
        <td><p>Cena:</p></td>
        <td><p>Ilość:</p></td>
        <td><p>Kup:</p></td>
        {% for x in products %}
          <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.price }}</td>
            <td>{{ x.quantity }}</td>
            <td><input type="number" name="amount" value="0"/></td>
          </tr>
        {% endfor %}
      </table>
      <hr/>
      <input type="submit" value="Dodaj do koszyka" name="basket"/>
      <hr/>
      <input type="submit" value="Dodaj adres dostawy" name="adress"/>
      <hr/>
    </form>
  </center>
</body>
</html>  